{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

<div class="delivery-date-container">
  <div class="input-wrapper">
    <label for="date">Pick a delivery date:</label>
    <input id="date" type="text" name="properties[date]" value="{{ cart.attributes.date }}" /> 
  </div>
</div>

<script>
  window.onload = function() {
      if (window.jQuery) {
        let $ = window.jQuery;
        $(function() {
            $("#date").datepicker({
            minDate: +1,
            format:'mm/dd/yyyy',
            maxDate: '+2M',
            beforeShowDay: function(date) {
                var day = date.getDay();
                return [(day != 1 && day != 0)];
            }
          });

          var formData = new FormData();
          let inputDate = document.querySelector('.delivery-date-container .input-wrapper #date');

          inputDate.addEventListener('blur', function() {
            document.querySelector('#checkout').setAttribute('disabled', 'disabled');
            formData.append("attributes[Delivery date]", inputDate.value);
            fetch(window.Shopify.routes.root + 'cart/update.js', {
              method: 'POST',
              body: formData
            })
            .then(response => response.json())
            .then(data => document.querySelector('#checkout').removeAttribute('disabled') );
          });
        });   
    }
  }
</script>
