<section class="gift">
    <div class="container">
        <div class="gift__wrapper">
            <div class="gift__item">
                {% if section.settings.title != blank %}
                <div class="gift__title title">
                    {{ section.settings.title }}
                </div>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                  <div class="gift__subtitle subtitle">
                      {{ section.settings.sub_title }}
                  </div>
                {% endif %}
            </div>
            <div class="gift__item">
              {% if section.settings.text != blank %}
                <div class="gift__text">
                    {{ section.settings.text }}
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Gift Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "caviar Gift cards"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"     
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitl",
        "default": "Excellence Found Only at BEST CAVIAR"
      }
    ],
    "presets": [
      {
        "name": "Gift Section"
      }
    ]
  }
{% endschema %}