<style>
  .promo-mobile-text {
    margin-top: calc(32px + 27.04*((100vw - 390px) / 677));
    margin-bottom: calc(32px + 27.04*((100vw - 390px) / 677));
  }
  
  .promo-mobile-text li {
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: calc(14px + 2 * ((100vw - 390px) / 677));
    font-style: normal;
    font-weight: 400;
    line-height: 34.5px;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }

  @media(max-width: 1067px) {
    .promo-mobile-text li,
    .promo-mobile-text li a {
      line-height: calc(24.5px + 10*((100vw - 390px) / 677));
    }

  }

  @media(max-width: 992px) {
    .promo-mobile-text li br {
      display: none;
    }
  }

  .promo-mobile-text li:before {
    background-image: url("https://cdn.shopify.com/s/files/1/0685/2640/7920/files/banner-icon.webp?v=1709068056");
    content: "";
    display: block;
    min-width: 0.68531rem;
    min-height: 0.76594rem;
    margin-top: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .promo-mobile-text a {
    color: #efb74c !important;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.15625rem;
    padding-left: 1.4rem;
  }

  @media(min-width: 993px) {
    .promo-mobile-text {
      display: none;
    }
  }
</style>
<section class="promo">
      <div class="container">
          {% if section.settings.title != blank %}
            <{% if section.settings.main_title %}h1{% else if section.settings.sub_title %}h2{% else %}p{% endif %} class="promo__title title mw {% if section.settings.yellow_title %}title__yellow{% endif %}">
                {{ section.settings.title }}
            </{% if section.settings.main_title %}h1{% else if section.settings.sub_title %}h2{% else %}p{% endif %}>
          {% endif %}

          {% if section.settings.subtitle != blank %}
            <div class="promo__subtitle">
              {{ section.settings.subtitle }}
            </div>
          {% endif %}
          <div class="promo__wrapper">
              {% if section.settings.left_text != blank %}
                <div class="promo__description description">
                  {{ section.settings.left_text }}
                </div>
              {% endif %}
              {% if section.settings.right_text != blank %}
                <div class="promo__description description">
                  {{ section.settings.right_text }}
                </div>
              {% endif %}
          </div>
      </div>
	</section>

{% schema %}
  {
    "name": "Little Promo Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Delivery bester caviar"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Write your text here"
      },
      {
        "type": "checkbox",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "checkbox",
        "id": "sub_title",
        "label": "SubTitle"
      },
      {
        "type": "richtext",
        "id": "mobile_text",
        "label": "Mobile Text"
      },
      {
        "type": "richtext",
        "id": "left_text",
        "label": "Left Text",
       
      },
      {
        "type": "richtext",
        "id": "right_text",
        "label": "Right Text",
       
      },
      {
        "type": "checkbox",
        "id": "yellow_title",
        "label": "Yellow Title"
      }
    ],
    "presets": [
      {
        "name": "Little Promo Section"
      }
    ]
  }
{% endschema %}