<section class="best">
      <div class="container">
          {% if section.settings.title != blank %}
            <{% if template == "index" %}h1{% else %}h2{% endif %} class="best__title title">
                {{ section.settings.title }}
            </{% if template == "index" %}h1{% else %}h2{% endif %}>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="best__description description">
                {{ section.settings.text }}
            </div>
          {% endif %}
      </div>
  </section>

{% schema %}
  {
    "name": "Best Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Best Caviar Online in The US by Bester Caviar"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
       
      }
    ],
    "presets": [
      {
        "name": "Best Section"
      }
    ]
  }
{% endschema %}