.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 4rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 3rem;
}

.article-template__comments-comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 8px;
  margin-bottom: 8px;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
  border-radius: 8px;
  line-height: 1.2;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comment-fields > * {
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields > * {
    margin-bottom: 3rem;
  }

  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 24px 0;
}


.article-template__comments .pagination-wrapper {
  margin: 1rem 0;
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}

.recipes__article .field__input {
  min-height: 50px;
  height: auto;
  font-size: 16px;
  padding: 20px 20px 5px;
}

.recipes__article  .field__input:focus ~ .field__label,
.recipes__article  .field__input:not(:placeholder-shown) ~ .field__label,
.recipes__article  .field__input:autofill ~ .field__label,
.recipes__article .field__input:focus + label {
  font-size: 12px;
  top: 4px;
  left: 20px;
}

.recipes__article .field__label {
  top: 16px;
  left: 20px;
  font-size: 16px;
}

.recipes__article #comment_form h2,
.recipes__article #comments h2 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #001A32;
}

.recipes__article .form-status {
  font-size: 18px;
}

.recipes__article .form-status.success {
  color: #047678;
}

.recipes__article .button {
  border: none;
  transition: .3s linear opacity;
}

.recipes__article .button:hover {
  opacity: .7;
}

.recipes__article .form-status-list {
  margin-top: 16px;
  margin-bottom: 32px;
}

.form-status-list .link {
  cursor: default;
  color: #FF0000;
  font-size: 16px;
}

.pagination-wrapper .link {
  font-size: 16px;
}